h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .reservations-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .reservation-card {
    width: 30%;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .payment-method,
  .totalValue,
  .product-name,
  .hours-reserved,
  .hourly-rate {
    margin: 5px 0;
  }
  
  .products-list {
    list-style-type: none;
    padding-left: 20px;
    margin: 10px 0 0 0;
  }
  
  .product-item {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 0.25rem;
    margin-bottom: 10px;
    margin-right: 20px; 

  }
.id{
    font-size:14px ;
    background-color: var(--lightBlue-color);
    width: 55px;
    color: white;  
    padding: 12px;
    border-radius: 50%;
}