.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
}

form {
    width: 35em;
    height: 23em;
    padding: 2em;
    border-radius: 10px;
    background-color: var(--light-color);
}

.form-content {
    padding: 0 2em;
    font-family: var(--main-font);
}

form h1, form h2{
    margin-bottom: 2rem;
}

form h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-family: var(--title-font);
}

form h2 {
    font-family: var(--main-font);
    font-size: 1.6em;
    font-weight: 500;
    margin-bottom: 0.7em;
}

/* INPUT */
.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 15px;
    color: #999;
    transition: all 0.3s ease;
    pointer-events: none;
}
  
input {
    width: 100%;
    padding: 6px 12px;
    font-size: 1rem;
    border: 1px solid #999;
    border-radius: 4px;
    background-color: transparent;
}

input:focus{
    outline: none;
    border-color: var(--darkBlue-color);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
  
input:focus + label,
input:not(:placeholder-shown) + label {
    top: -9px;
    left: 9px;
    font-size: 0.75rem;
    padding: 0 5px;
    color: var(--darkBlue-color);
    background-color: var(--light-color);
}

/* BUTTONS */
.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.3em;
}

.login-button {
    color: #fff;
    padding: 0.3em 1.2em;
    border: none;
    border-radius: 3px;
    background-color: var(--darkBlue-color);
    transition: all 0.3s ease;
}

.login-button:hover {
    cursor: pointer;
    background-color: var(--lightBlue-color);
}

.register-button, .reset-password-button {
    border: none;
    background-color: transparent;
}

.register-button {
    margin-right: 6em;
    font-weight: 400;
    color: var(--darkBlue-color);
    transition: all 0.3s ease;
}

.reset-password-button {
    margin: 0 0 0 15px; 
    font-size: 13px;
    color: #999;
    transition: all 0.3s ease;
}

.reset-password-button:hover{
    color: #3f3f3f;
}

/* MEDIA QUERIES */

/* Tablets and smaller screens */
@media (max-width: 768px) {
    form {
        width: 90%;
        height: auto;
        padding: 1.5em;
    }

    .form-content {
        padding: 0 1em;
    }

    form h1 {
        font-size: 24px;
    }

    form h2 {
        font-size: 1.4em;
    }
}

/* Smartphones */
@media (max-width: 480px) {
    form {
        width: 100%;
        height: auto;
        padding: 1em;
        margin: 0 1.2em;
    }

    .form-content {
        padding: 0.1em 0.8em;
    }

    form h1 {
        font-size: 20px;
    }

    form h2 {
        font-size: 1.2em;
    }

    .form-footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .login-button {
        width: 100%;
        text-align: center;
        margin-bottom: 1em;
    }

    .register-button, .reset-password-button {
        width: 100%;
        text-align: center;
        margin: 0.5em 0;
    }
}